<mat-toolbar>
    <span>Listado de Personas</span>
</mat-toolbar>
<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

<mat-card>
    <mat-form-field appearance="standard">
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input autocomplete="off">
      </mat-form-field>
      <button (click)="addEditPersona()" mat-raised-button color="primary">Agregar</button>
    <table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z15">
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="apellido">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </th>
            <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
        </ng-container>

        <ng-container matColumnDef="correo">
            <th mat-header-cell *matHeaderCellDef> Correo </th>
            <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
        </ng-container>

        <ng-container matColumnDef="tipoDocumento">
            <th mat-header-cell *matHeaderCellDef> Tipo Documento </th>
            <td mat-cell *matCellDef="let element"> {{element.tipoDocumento}} </td>
        </ng-container>

        <ng-container matColumnDef="documento">
            <th mat-header-cell *matHeaderCellDef> Documento </th>
            <td mat-cell *matCellDef="let element"> {{element.documento}} </td>
        </ng-container>

        <ng-container matColumnDef="fechaNacimiento">
            <th mat-header-cell *matHeaderCellDef> Fecha Nacimiento </th>
            <td mat-cell *matCellDef="let element"> {{element.fechaNacimiento | date:'dd/MM/yyyy' }} </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element"> 
                <mat-icon (click)="addEditPersona(element.id)" class="btnEdit" matTooltip="Editar">edit</mat-icon>
                <mat-icon (click)="deletePersona(element.id)" class="btnDelete" matTooltip="Delete">delete</mat-icon>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>


</mat-card>